{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}         
    <link rel="stylesheet" href="{{ asset ('css/trombinoscopestyle.css') }}">
{% endblock %}

{% block body %}
    
    <div id="cadres">

        <div id="banniere" style="background-image:url('../img/profils/anthony riviere/foret-bandeau-profil.jpeg');">
            <img src="{{ asset('/uploads/' ~ user.photoprofil) }}" width="180px" height="180px" alt="">
        </div>

        <h1>Le Trombinoscope</h1>

        <div id="search">
            <div id="villes">    
                <div id="btnsearch"><i class="fas fa-search"></div></i><input type="text" placeholder="Rechercher...">
            </div>
        </div>
        <div id="cartes">
            {% for user in users %}
            <div id="carte">
                <div id="imgfond" style="background-image:url('../img/profils/evelyne alebat/paysage-montagne-bandeau.jpeg');">
                    <img src="{{ asset('/uploads/' ~ user.photoprofil) }}" width="80px" height="80px" alt="">
                </div>
                <div class="ville">{{user.chocolaterie}}</div>
                    <div id="identite">
                        <h2>{{user.prenom}} {{user.nom}}</h2>
                        <h3>{{user.poste}}</h3>
                    </div>
                    <div id="icones">
                        <div class="icone"><i class="fab fa-facebook-f"></i></div>
                        <div class="icone"><i class="fab fa-instagram"></i></div>
                        <div class="icone"><i class="fab fa-twitter"></i></div>
                        <div class="icone"><i class="fab fa-linkedin-in"></i></div>
                    </div>

                    <a href="{{ path('profil', {'id': user.id}) }}"><button><i class="fas fa-eye"></i> Voir le profil </button></a>
                </div>
            {% endfor %}
            </div>
            </div>

        </div>
    </div>
        


       
        <script src="https://kit.fontawesome.com/508ebce8fc.js"></script>

{% endblock %}
