{% extends 'baseadmin2.html.twig' %}

{% block title %}Actualites index
{% endblock %}

{% block stylesheets %}
	<link
	rel="stylesheet" href="{{ asset ('css/adminactualitesstyle.css') }}"/>
{#{{ encore_entry_link_tags("app") }}#}
{% endblock %}

{% block body %}

	<div class="grandblock">
		<p class="titre">
			Gérer les actualités
		</p>

		<a class="nouveau2" href="{{ path('admin_actualites_new') }}">Créer une nouvelle actualité</a>
		<div class="tableau">
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Titre</th>
						<th>Date</th>
						<th>Texte</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for actualite in actualites %}
						<tr>
							<td>{{ actualite.id }}</td>
							<td>{{ actualite.titre }}</td>
							<td>{{ actualite.date ? actualite.date|date('Y-m-d') : '' }}</td>
							<td>{{ actualite.texte }}</td>
							<td>
								<a class="afficher" href="{{ path('admin_actualites_show', {'id': actualite.id}) }}">Afficher</a>
								<a class="modifier" href="{{ path('admin_actualites_edit', {'id': actualite.id}) }}">Modifier</a>
								<form method="post" action="{{ path('admin_employe_delete', {'id': actualite.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actualite.id) }}">
									<button class="supprimer">Supprimer</button>
								</form>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">Il n'y a pas d'actualités actuellement
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
