{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}         
    <link rel="stylesheet" href="{{ asset ('css/accueilstyle.css') }}">
{% endblock %}

{% block body %}   
    <section id="cadres">
        <div id="menu"><div id="openbutton"><i class="fas fa-bars"></i></div></div>
        <div id="posts">
            <div id="titleposts">
                <h2>Bienvenue sur ton espace,</h2>
                <h3>voici les derniers posts publiés</h3>
            </div>
            <div id="lastposts">                        
                <div class="col">
                    {% for post in postcol1 %}
                    <div class="art1">
                        {% for postimg in post.postimg %}   
                            <img src={{ asset('uploads/' ~ postimg.image) }} alt="{{post.titre}}">
                        {% endfor %}
                        <div class="containarticle">
                            <a href="{{ path('viechocolaterieunique', {'id': post.id}) }}"><h3>{{post.titre}}</h3></a>
                            <p>{{post.description}} <span> {{post.categories}}</span></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col">
                    {% for post in postcol2 %}
                    <div class="art2">
                        {% for postimg in post.postimg %}   
                            <img src={{ asset('uploads/' ~ postimg.image) }} alt="{{post.titre}}">
                        {% endfor %}
                        <div class="containarticle">
                            <a href="{{ path('viechocolaterieunique', {'id': post.id}) }}"><h3>{{post.titre}}</h3></a>
                            <p>{{post.description}} <span> {{post.categories}}</span></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col">
                    {% for post in postcol3 %}
                    <div class="art3">
                        {% for postimg in post.postimg %}   
                            <img src={{ asset('uploads/' ~ postimg.image) }} alt="{{post.titre}}">
                        {% endfor %}
                        <div class="containarticle">
                            <a href="{{ path('viechocolaterieunique', {'id': post.id}) }}"><h3>{{post.titre}}</h3></a>
                            <p>{{post.description}} <span> {{post.categories}}</span></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>                
            </div>           
        </div>
        <div id="actus">
            <div id="titleactus">
                <h2>Les dernières actualités</h2>
                <h3>de l'entreprise</h3>
            </div>
            <div id="lastactus">
                {% for actu in actus %}
                <div id="cadreactu">
                    <div class="ville">{{actu.chocolaterie}}</div>
                    <div class="imageactus">
                        <img src="../img/posts/paysage.jpeg" width="380px" height="160px" alt="image actualites">
                    </div>
                    <div class="descriptactus">
                        <h3>{{actu.titre}}</h3>
                        <p>{{actu.texte}}</p>
                    </div>
                </div>
                <br>
                {% endfor %}
            </div>                
        </div>
    </section>
    <script src="https://kit.fontawesome.com/508ebce8fc.js"></script>
{% endblock %}
