{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block stylesheets %}         
    <link rel="stylesheet" href="{{ asset ('css/accueilstyle.css') }}">
{% endblock %}

{% block body %}
    <div id="bandeau">
        <div id="bloc1">
            <div id="imageprofil">
                <img src="../img/profils/anthony riviere/anthony-riviere.jpg" width="150px" height="150px" alt="">
            </div>
            <div id="nomprofil">
                <h2><span id="firstname">{{user.prenom}} </span><span id="lastname"> {{user.nom}}</span></h2>
            </div>
            <div id="button">
                <button><a href="/profil"><i class="fas fa-user-alt"></i> Voir mon profil</a></button>
            </div>      
        </div>
        <div id="bloc2">
            <div id="liens">
                <a href="#" id="select">Accueil</a>
                <a href="/actualites">Actualités de l'entreprise</a>
                <a href="/trombinoscope">Trombinoscope</a>
                <a href="/vie-des-chocolateries">La vie des chocolateries</a>
                <a href="/logout"><i class="fas fa-power-off"></i> Déconnexion</a>
            </div>
            <img src="../img/logo-david-kenos-blanc.png" width="150px" height="150px" alt="">
        </div>       
    </div>
    <div id="cadres">

        <div id="posts">

            <div id="titleposts">
                <h2>Bienvenue sur ton espace,</h2>
                <h3>voici les derniers posts publiés</h3>
            </div>

            <div id="lastposts">
                          
                <div class="col">
                        {% for post in postcol1 %}
                    <div class="art1">
                        <img src="img/posts/restaurant-1.jpeg" alt="">
                        <div class="containarticle">
                            <a href="{{ path('viechocolaterieunique', {'id': post.id}) }}"><h3>{{post.titre}}</h3></a>
                            <p>{{post.description}}<span>{{post.categories}}</span></p>
                        </div>
                    </div>
                        {% endfor %}
                </div>

                <div class="col">
                        {% for post in postcol2 %}
                    <div class="art2">
                        <img src="img/posts/team-soleil.jpeg" alt="">
                        <div class="containarticle">
                            <a href="{{ path('viechocolaterieunique', {'id': post.id}) }}"><h3>{{post.titre}}</h3></a>
                            <p>{{post.description}}<span>{{post.categories}}</span></p>
                        </div>
                    </div>
                        {% endfor %}
                </div>

                <div class="col">
                        {% for post in postcol3 %}
                    <div class="art3">
                        <img src="img/posts/restaurant-2.jpeg" alt="">
                        <div class="containarticle">
                            <a href="{{ path('viechocolaterieunique', {'id': post.id}) }}"><h3>{{post.titre}}</h3></a>
                            <p>{{post.description}}<span>{{post.categories}}</span></p>
                        </div>
                    </div>
                        {% endfor %}
                </div>
                    
            </div>           
        </div>
        <div id="actus">
            <div id="titleactus">
                <h2>Les dernières actualités</h2>
                <h3>de l'entreprise</h3>
            </div>
            <div id="lastactus">
                {% for actu in actus %}
                <div class="ville">{{actu.chocolaterie}}</div>
                <div class="imageactus">
                    <img src="../img/posts/paysage.jpeg" width="380px" height="160px" alt="">
                </div>
                <div class="descriptactus">
                    <h3>{{actu.titre}}</h3>
                    <p>{{actu.texte}}</p>
                </div>
                <br>
                {% endfor %}
            </div>                
        </div>
    </div>

        <script src="https://kit.fontawesome.com/508ebce8fc.js"></script>

{% endblock %}
