{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateurController!
{% endblock %}
{% block stylesheets %}
	<link
	rel="stylesheet" href="{{ asset ('css/utilisateursstyle.css') }}"/>
{#{{ encore_entry_link_tags("app") }}#}
{% endblock %}
{% block body %}

	<header>
		<div class="logoheader">
			<img src="../img/logo-david-kenos.png" alt="logo de David Kenos"/>
		</div>

		<div class="menuheader">
			<nav class="menu">
				<ul>
					<div class="rond">
						<li class="menu">
							<a href="#">
								Chocolaterie Nevers</a>
						</li>
						<div id="circle"></div>
					</div>
					<li class="menu">
						<a href="#">
							Accueil
						</a>
					</li>

					<li class="menu">
						<a href="#">
							Déconnexion
							<i class="fas fa-power-off"></i>
						</a>
					</li>


				</ul>
			</nav>
		</div>
		<div id="liens">
			<a href="#">UTILISATEURS</a>
			<a href="#">CATÉGORIES</a>
			<a href="#">POSTS</a>
			<a href="#">ACTUALITÉS</a>
			<a href="#">CHOCOLATERIES</a>
		</div>


	</header>

	<div class="grandblock">
		<p class="titre">
			Gérer les utilisateurs
		</p>


		<div class="tableau">
			<table>

				<thead>
					<tr>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Poste</th>
						<th>Chocolaterie</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>

					{% for employe in employes %}

						<tr>
							<td>{{employe.user.nom}}</td>
							<td>{{employe.user.prenom}}</td>
							<td>{{employe.user.poste}}
							</td>


							<td>
								{{employe.user.chocolaterie}}
							</td>
							<td>
								<button class="modifier">
									<i class="fas fa-edit"></i>Modifier</button>
								<button class="supprimer">
									<i class="far fa-trash-alt"></i>Supprimer</button>
							</td>

						</tr>
					{% endfor %}


				</tbody>
			</table>
		</div>
	</div>

	<script src="https://kit.fontawesome.com/508ebce8fc.js"></script>


{% endblock %}
