{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="{{ asset ('css/modifprofilstyle.css') }}">
        {% endblock %}

{% block body %}

    
    <section id="cadres">
        <div id="menu"><div id="openbutton"><i class="fas fa-bars"></i></div></div>
        <div id="title">
            <h1>Modifier mon profil</h1>
        </div>
        <div id="formulairepost">

        {{ include('modif_profil/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('profil', {'id' : user.id}) }}">Retour au profil</a>
        </div>
    </section>
    <script src="https://kit.fontawesome.com/508ebce8fc.js"></script>


    {# <a href="{{ path('modif_profil_index') }}">back to list</a> #}

    {# {{ include('modif_profil/_delete_form.html.twig') }} #}
{% endblock %}
