{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="{{ asset ('css/addpoststyle.css') }}">
        {% endblock %}

{% block body %}

    <div id="cadres">
        <div id="title">
            <h1>Ajouter un Post</h1>
        </div>

    {{ include('post/_form.html.twig') }}
    <a href="{{ path('profil', {'id' : user.id}) }}">Retour au profil</a>
    </div>

    {# <a href="{{ path('post_index') }}">back to list</a> #}

{% endblock %}
