{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block stylesheets %}         
    <link rel="stylesheet" href="{{ asset ('css/viechocolateriesstyle.css') }}">
{% endblock %}

{% block body %}
    <div id="bandeau">
        <div id="bloc1">
            <div id="imageprofil">
                <img src="../img/profils/anthony riviere/anthony-riviere.jpg" width="150px" height="150px" alt="">
            </div>
            <div id="nomprofil">
                <h2><span id="firstname">{{user.prenom}} </span><span id="lastname"> {{user.nom}}</span></h2>
            </div>
            <div id="button">
                <button><a href="/profil"><i class="fas fa-user-alt"></i> Voir mon profil</a></button>
            </div>      
        </div>
        <div id="bloc2">
            <div id="liens">
                <a href="/index">Accueil</a>
                <a href="/actualites">Actualités de l'entreprise</a>
                <a href="/trombinoscope">Trombinoscope</a>
                <a href="#" id="select">La vie des chocolateries</a>
                <a href="/logout"><i class="fas fa-power-off"></i> Déconnexion</a>
            </div>
            <img src="../img/logo-david-kenos-blanc.png" width="150px" height="150px" alt="">
        </div>       
    </div>
    <div id="cadres">
        <div id="title">
            <h1>La vie <span class="lighter">des chocolateries,</span> <span class="categ">Animations</span></h1>
        </div>
        <div id="cadre2">
            <div id="lastregister">
                <h2>Les derniers inscrits</h2>
                {% for user in users %}
                <div class="person">
                    <img src="../img/profils/arthur allemand/arthur-allemand-homme.jpeg" width="60px" height="60px" alt="">   
                        <div class="identite">
                        <p class="prenom">{{user.prenom}}</p><p class="nom">{{user.nom}}</p>
                        </div>
                </div>
                {% endfor %}                
            </div>

            <div id="lastposts">
                    <div id="cadrespost">
                        {% for post in posts %}
                        <div class="cadrepost">

                            <div id="postimgprofil">
                                <img src="../img/profils/anthony riviere/anthony-riviere.jpg" width="100px" height="100px" alt="">   
                            </div>
                            <div id="postcontent">
                                <div id="postnomprenom"><h2><span id="firstname">{{post.user.prenom}} </span><span id="lastname"> {{post.user.nom}}</span></h2></div>
                                <div id="postdatepubli"><p>Publié le {{post.date|date('d/m/Y')}}</p></div>

                                <div id="posttitre"><h3>{{post.titre}}</h3></div>
                                <div id="postdescript"><p>{{post.description}}</p></div>
                                <div id="postcategorie">{{post.categories}}</div>

                                <div id="postinteract">
                                <div id="comments">5 <a href="{{ path('viechocolaterieunique', {'id': post.id}) }}" id="linkcomment"><i class="far fa-comments"></i>&nbsp; commentaires</a></div>
                                <div id="likes">3 <i class="far fa-heart"></i>&nbsp; j'aime</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                
            </div>
            <div id="categories">

                <a href="#" class="linkcateg" id="select">Tous les posts</a>
                <a href="#" class="linkcateg">Animations</a>
                <a href="#" class="linkcateg">Divers</a>
                <a href="#" class="linkcateg">Vie de l'entreprise</a>
                <a href="#" class="linkcateg">Améliorations</a>
                <a href="#" class="linkcateg">Questions</a>
            </div>

        </div>



    </div>   
        <script src="https://kit.fontawesome.com/508ebce8fc.js"></script>

{% endblock %}
