{% extends 'baseadmin2.html.twig' %}

{% block title %}Chocolaterie index
{% endblock %}

{% block stylesheets %}
	<link
	rel="stylesheet" href="{{ asset ('css/adminchocolaterie.css') }}"/>
{#{{ encore_entry_link_tags("app") }}#}
{% endblock %}

{% block body %}

	<div class="grandblock">
		<p class="titre">
			Gérer les chocolateries
		</p>

		<a class="nouveau2" href="{{ path('admin_chocolaterie_new') }}">Créer une nouvelle chocolaterie</a>
		<div class="tableau">
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Ville</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for chocolaterie in chocolateries %}
						<tr>
							<td>{{ chocolaterie.id }}</td>
							<td>{{ chocolaterie.ville }}</td>
							<td>
								<a class="afficher" href="{{ path('admin_chocolaterie_show', {'id': chocolaterie.id}) }}">Afficher</a>
								<a class="modifier" href="{{ path('admin_chocolaterie_edit', {'id': chocolaterie.id}) }}">Modifier</a>
								<form method="post" action="{{ path('admin_employe_delete', {'id': chocolaterie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chocolaterie.id) }}">
									<button class="supprimer">Supprimer</button>
								</form>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
