{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block stylesheets %}         
    <link rel="stylesheet" href="{{ asset ('css/actualitesstyle.css') }}">
{% endblock %}

{% block body %}
    <section id="cadres">
        <div id="menu"><div id="openbutton"><i class="fas fa-bars"></i></div></div>
        <div id="title"><h1>Les actualités, <span id="soustitre">des chocolateries</span></h1></div>
        <div id="search">
            <div id="villes">
            {% for chocolaterie in chocolateries %}           
                <a href="{{ path('actu', {'id' : chocolaterie.id}) }}">{{chocolaterie.ville}}</a> | 
            {% endfor %}
            </div>
            <div id="research">
                <div id="btnsearch"><i class="fas fa-search"></div></i><input type="text" placeholder="Rechercher...">
            </div>
        </div>
        <div id="actus">
            <div id="lastactus">
                {% for actu in actus %}
                <div id="actu1">
                    <div class="ville">{{actu.chocolaterie}}</div>
                    <div class="imageactus">
                        <img src="../img/posts/paysage.jpeg" width="300px" height="160px" alt="paysage">
                    </div>
                    <div class="descriptactus">
                        <h3>{{actu.titre}}</h3>
                        <p>{{actu.texte}}</p>
                    </div>
                </div>
                {% endfor %}          
            </div>         
        </div>
    </section>     
    <script src="https://kit.fontawesome.com/508ebce8fc.js"></script>
{% endblock %}
