{% extends 'baseadmin2.html.twig' %}

{% block title %}Edit Employe
{% endblock %}

{% block stylesheets %}
	<link
	rel="stylesheet" href="{{ asset ('css/admincrudstyle.css') }}"/>
{#{{ encore_entry_link_tags("app") }}#}
{% endblock %}


{% block body %}

	<h1 class="titre">Employé</h1>

	<div class="bloc-form">

		{{ form_start(form) }}
		{{ form_widget(form) }}

		<div class="btns">
			<a class="btn" href="{{ path('admin_utilisateur') }}">Retour à la liste</a>
			<button class="btn">{{ button_label|default('Enregistrer') }}</button>
		</div>


		{{ form_end(form) }}


	</div>

{% endblock %}
