{% extends 'baseadmin2.html.twig' %}

{% block title %}Employe index
{% endblock %}

{% block stylesheets %}
	<link
	rel="stylesheet" href="{{ asset ('css/employestyle.css') }}"/>
{#{{ encore_entry_link_tags("app") }}#}
{% endblock %}
{% block body %}


	<div
		class="titre">
		{# <h1>Index Employé</h1> #}

		<a class="nouveau2" href="{{ path('admin_employe_new') }}">Créer un nouvel utilisateur</a>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for employe in employes %}
				<tr>
					<td>{{ employe.id }}</td>
					<td>
						<a class="afficher" href="{{ path('admin_employe_show', {'id': employe.id}) }}">Afficher</a>
						<a class="modifier" href="{{ path('admin_employe_edit', {'id': employe.id}) }}">Modifier</a>
						{# <a class="supprimer" href="{{ path('admin_employe_delete', {'id': employe.id}) }}">Supprimer</a> #}
						<form method="post" action="{{ path('admin_employe_delete', {'id': employe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employe.id) }}">
							<button class="supprimer">Supprimer</button>
						</form>
					</td>
				</tr>
			{% else %}

				<tr>
					<td colspan="2">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</tr>
</tbody></tbody></table>{% endblock %}
