{% extends 'baseadmin2.html.twig' %}

{% block title %}Les employés
{% endblock %}
{% block stylesheets %}
	<link
	rel="stylesheet" href="{{ asset ('css/utilisateursstyle.css') }}"/>
{#{{ encore_entry_link_tags("app") }}#}
{% endblock %}
{% block body %}


	<div class="grandblock">
		<p class="titre">
			Gérer les utilisateurs
		</p>


		<div class="tableau">
			<table>

				<thead>
					<tr>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Poste</th>
						<th>Chocolaterie</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>

					{% for employe in employes %}

						<tr>
							<td>{{employe.user.nom}}</td>
							<td>{{employe.user.prenom}}</td>
							<td>{{employe.user.poste}}
							</td>


							<td>
								{{employe.user.chocolaterie}}
							</td>
							<td>

								<button class="modifier">
									<i class="fas fa-edit"></i>
									<a href="{{ path('admin_employe_edit', {'id': employe.id}, ) }}">Modifier</a>
								</button>
								<form method="post" action="{{ path('admin_employe_delete', {'id': employe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">

									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employe.id) }}">
									<button class="supprimer">
										<i class="far fa-trash-alt"></i>Supprimer</button>
								</form>


							</td>

						</tr>
					{% endfor %}


				</tbody>
			</table>
		</div>
	</div>

	<script src="https://kit.fontawesome.com/508ebce8fc.js"></script>


{% endblock %}
